:root{
    --aside-bg-color: #f8f9fa;
}


.about-me img{
    height: 1.5rem;
}

aside{
    position: absolute;
    border-radius: 1rem;
    background-color: var(--aside-bg-color);
    padding: 1rem;
    bottom: 0%;
    right: 0%;
}

aside p{
    text-decoration: underline;
    font-weight: 500;
}

aside a{
    color: black;
    text-decoration: none;
}