@media (max-width: 768px) {
    main{
        min-height: 0;
        padding: 1.5rem;
        min-width: 50%;
    }

    .title{
        margin-top: 0;
        font-size: 0.8rem;

    }
    #result{
        width: 300px;
    }

    #swap-currencies:hover{
        transform: none;
    }

    aside{
        border-radius: 1rem 0 1rem 0;
        margin-top: 2rem;
    }
}